/*tudo em * aplica a tudo */
*{/*soft resete do css */
    /*essa parte foi feita para retirar o elemento a baixo*/
    margin: 0;
    padding: 0;/* borda interna */
    box-sizing: border-box;/* começa a contar o tamanho do elemento dá borda interna*/

}
html {
    scroll-behavior: smooth; /*faz com que o botão de volta ao topo fique suavisada*/
}
/*a leitura é feita para a esquerda para direita*/
body {
  background-image: url('/img/background-992850.png');  
  background-size: auto 100vh;/*100 do tamanho total dá tela */
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  font-size: 12px;
  /*background-repeat: no-repeat;*/
  
}
/*@algumacoisa cria uma condi como um if por exemplo, se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width/*tamanho minimo*/:400px){
    body{
        font-size: 14px;
    }
}
/*breakpoint*/
@media (min-width:600px){
    body {
        font-size: 18px;
    }
}
@media (min-width:1200px){
    body {
        font-size: 20px;
    }
}
header {
    height: 100vh;
    display: flex;/*ajuda ficar responsivo*/
    justify-content: center;/*centralisa horizontalmente o conteudo*//*so funciona por conta do  flex*/
    align-items: center;/*centaliza verticalmente, so funciona no flex*/
}
/*ponto seleciona caasse*/
.menu {
    background-color: rgb(248, 248, 248);
    position: fixed;/*fas com que o menu ou o elemnto fique fixo sobre tudo*/
    width: 100vw;
    top: 0;/* cola ele no topo do navegador que so funciona com o position declarado*/
    z-index: 1;/*altera a prioridade do eixo z */
}
.menu ul {
    display: flex;/* forma coluna ^^*/
    justify-content: space-around;/*dá espassamento dentre as colunas */
    
}

/*seleciona todas as li dentro do elemento menu
o nome é seletor 'hieraquico'*/
.menu li {
    list-style: none;

}
.menu a {/*link do menu*/
    
    display: block;/*transforma em um quadrado que quebra linha*/
    padding: 10px 20px;
    transition: background-color 1s, color 1s;/*fala quais propiedades nos queremo mudar,e diz quanto tempo o vai levar a transi...*/
}
.menu a:active,
.menu a:hover {
    background-color:rgb(0, 0, 0);
    color: whitesmoke;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.titulos {/*fazendo uma animation */
  /*  transform: scale(0.2)/*diminui a escala* translate(50vh)/*translada o elemento *;
    opacity: 0;

    animation: linear 2s animacaoTitulo forwards/*forwards faz a animação parar no ultimo estado *;/*faz animação*/
}
/*
@media (min-width:1300px){

    @keyframes animacaoTitulo {/*criando a animção*
         0% {/*estafo inicial da animação */
            /*aceita from no lugar do 0 e to no lugar no 100*
        }
        100% {/*estado final da animação*
            transform: scale(1)/*diminui a escala* translate(0)/*translada o elemento *;
            opacity: 1;
        }
    }
}

@keyframes animacaoTitulo {/*criando a animção*
    0% {/*estafo inicial da animação */
       /*aceita from no lugar do 0 e to no lugar no 100*
     }
    100% {/*estado final da animação*
       transform: scale(1)/*diminui a escala* translate(0)/*translada o elemento *;
       opacity: 1;
    }
}*/
.site-sutitle1,
.site-sutitle2,/*dessa forma o estilo vai para o titulo e para o subtitulo*/
.site-title {
    color: whitesmoke;
    text-align: center;

}
.site-title { 
    font-size: 4em;/*4x o tamanho do body*/
    font-family: 'Teko', sans-serif;
}
.site-sutitle1,
.site-sutitle2 {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5em;
}

.sobre,
.contato,/*dessa forma o estilo vai para contato e para portfolio*/
.portfolio {
    padding: 1.5em;
    min-height: 100vh;/*no minimo */
    
}
@media (min-width: 1200px) {/*se a tela tiver pelomenos 1200*/
    .container {
        max-width: 1200px;
        margin-left: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
        margin-right: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
    }
}
.sobre h2,
.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;/*dando margim para o lado especifico*/
    font-size: 2em;
    margin-top: 1.5em;
}



footer{
    background-color: whitesmoke;
    justify-content: center;
} 
footer a {
    color: black;
    font-size: 2em;
}
.sgvd {
    width: 300px;
    margin: 100px right;
    margin-left: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
    margin-right: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
}

/*sgvd foi criado para animar meu nome no footer*/
.sgvd svg  {/*linha da anima..*/
    stroke-width: 2px;/*linha*/
    stroke: rgb(0, 0, 0);/*cor da linha */
    width: 100%;
    height: 100%;
    stroke-dashoffset: 1000;/*é a distancia de inicio do ponto da animação */
    stroke-dasharray: 1000;/*é o tamanho dos trasssos*/
    animation: sgvd 5s ease-in-out forwards infinite; 
}
@keyframes sgvd  {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.top-link {
   transition: all .25s ease-in-out;/*ontrola a rapidez com que o botão aparecerá ou desaparecerá na tela*/
   position: fixed;/*é o que faz o botão "grudar" no local desejado.*/
   bottom: 0;
   right: 0;
   display: inline-flex;
    
   cursor: pointer;
   align-items: center;
  justify-content: center;
  margin: 0 1em 1em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color:whitesmoke;
}

.grid_rodape {
    display: grid;/*grade , ele mantem as linhas, sou eu que digo quantas colunas eu quero, diferente do flex box*/
    gap: 1px;/*so existe com grid, define o espassamento entre cada coluna ou linha */ 
   /* column-gap: 800px/* Define a distância entre as colunas.*/
}

@media (min-width: 880px) {
    .grid_rodape {
        grid-template-columns: repeat(3, 260);/*repeat está repetindo  */
        justify-content: center;
        align-content: center;
      /*  height: calc(100vh - 4em - 780px - 1.5em);/*calc faz o calculo */
        
    }
}
.grid_rodape a {
    color: rgb(0, 0, 0);
    font-size: 2em;
    transition: text-shadow 1s;
}
.grid_rodape a:active,/*essa propriedade active é para moile */
.grid_rodape a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(10, 10, 10);

}

.grid_rodape .grid_icons {
    margin-left: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
    margin-right: auto;/*centraliza apenas orizontalmente não dá para centralizar verticalmente com esse func*/
}

/*
    |       |       |
    |       |       |
    v       v       v
*/
/* animação de maquina de escrever */


.site-sutitle2 {
    border-right-style: solid;
    border-right-color: rgba(255,255,255,.4);
    font-size: 1.5em;
    animation: cursorBlink 1000ms steps(40) infinite normal, typing 10000ms steps(100) normal 1 both;
    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;
  }
  
  @keyframes cursorBlink {
    100% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typing {
    100% {
      max-width: 100vw;
    }
}
@media (max-width: 1000px){

    .site-sutitle2 {
        border-right-style: solid;
        border-right-color: rgba(255,255,255,.4);
        font-size: 1.1em;
        animation: cursorBlink 1000ms steps(80) infinite normal, typing 10000ms steps(100) normal 1 both;
        white-space: nowrap;
        max-width: 0vw; 
        overflow: hidden;
      }
      
      @keyframes cursorBlink {
        100% {
          border-right-color: transparent;
        }
      }
      
      @keyframes typing {
        100% {
          max-width: 100vw;
        }
    }
}

#topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    height: 50px;
    width: 50px;
    color: blanchedalmond;
    background-color: black;
    border: none;
    border-radius: 50vh;
}

/*
.template  {
    align-content: center;
    background-color: deeppink;
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;/*cria as colunas. 1fr fas ela ser flex
    grid-template-rows: 20vh 20vh 20vh ;
    grid-gap: 23px; espaço 
    grid-column-start: 1;/*inicio da contagem de colunas
    grid-column-end: 5; fim
    grid-template-areas: "h h"
                        "s s"
                        "e e"
                        "r r "
                        "re re";  maneira de fazer um colum star/end 
}
.hero_image {
    justify-content:right;
    background-color: blue;
    grid-column: 2/3;
    grid-column-start: 1;inicio da contagem de colunas
    grid-column-end: 3;fim
}

.sidebar {
    background-color: chartreuse;
    grid-column: 3/5;uma versão resumida de column start e colum end
}
.extra_content {
    background-color: darkblue;
    grid-column: 4/5;
}
.Related_meges {
    background-color: darkgoldenrod;
    grid-column: 5/6;
}
.related_posts {
    background-color: darkred;
    grid-column: 5/6;
}
footer{
     background-color: whitesmoke;
     justify-content: center;
} 
.top-link {
    transition: all .25s ease-in-out;ontrola a rapidez com que o botão aparecerá ou desaparecerá na tela
    position: fixed;é o que faz o botão "grudar" no local desejado.
    bottom: 0;
    right: 0;
    display: inline-flex;
     
    cursor: pointer;
    align-items: center;
   justify-content: center;
   margin: 0 3em 3em 0;
   border-radius: 50%;
   padding: .25em;
   width: 80px;
   height: 80px;
   background-color:whitesmoke;
}
.show {informar ao navegador quando o botão deve (ou não) aparecer na página
    visibility: visible;
    opacity: 1;
  }
   
 .hide {informar ao navegador quando o botão deve (ou não) aparecer na página
    visibility: hidden;
    opacity: 0;
  }
svg {Essas classes estilizarão a imagem SVG da própria seta e informarão ao navegador como exibir o botão quando um usuário passar o mouse sobre ela.
    fill: #000;
    width: 24px;
    height: 12px;
   }
   */

.video-topo {
    /*Ajuste a largura e altura desejadas aqui*/
    width: auto;
    height: auto;

    /*isto fará o elemento video e o .container se adaptarem ao .wrap*/
    position: relative;
    background-size: cover; 
}

.video-topo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
    width: 100%;
    height: 100%;
    overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}
.video-topo video{
    width: auto; /*auda a ficar responsivo*/
    height: auto; /*auda a ficar responsivo*/
   
}


.video{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: cover; 
}